<ion-header>
  <ion-toolbar>
    <ion-title>Фільтри</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Закрити</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group [value]="filters.type" (ionChange)="filters.type = $event.detail.value">
      <ion-list-header>
        <ion-label>Тип терапії</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Індивідуальна</ion-label>
        <ion-radio slot="end" value="individual"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Сімейна</ion-label>
        <ion-radio slot="end" value="family"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Дитяча</ion-label>
        <ion-radio slot="end" value="child"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-list-header>
      <ion-label>Напрямки</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let direction of directions">
      <ion-label>{{ direction.name }}</ion-label>
      <ion-checkbox slot="start" [checked]="direction.checked" (ionChange)="direction.checked = $event.detail.checked"></ion-checkbox>
    </ion-item>

    <ion-radio-group [value]="filters.format" (ionChange)="filters.format = $event.detail.value">
      <ion-list-header>
        <ion-label>Оберіть формат сесії</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Онлайн</ion-label>
        <ion-radio slot="end" value="online"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Очно</ion-label>
        <ion-radio slot="end" value="in-person"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [value]="filters.gender" (ionChange)="filters.gender = $event.detail.value">
      <ion-list-header>
        <ion-label>Оберіть стать психолога</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Не важливо</ion-label>
        <ion-radio slot="end" value="any"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Чоловік</ion-label>
        <ion-radio slot="end" value="male"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Жінка</ion-label>
        <ion-radio slot="end" value="female"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [value]="filters.language" (ionChange)="filters.language = $event.detail.value">
      <ion-list-header>
        <ion-label>Оберіть мову спілкування</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Українська</ion-label>
        <ion-radio slot="end" value="ukrainian"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Російська</ion-label>
        <ion-radio slot="end" value="russian"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Не важливо</ion-label>
        <ion-radio slot="end" value="any"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-list-header>
      <ion-label>Оберіть прийнятну ціну</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range min="900" max="2700" dualKnobs="true" pin="true" [value]="filters.priceRange" (ionChange)="filters.priceRange = $any($event.detail.value)">
        <ion-label slot="start">900</ion-label>
        <ion-label slot="end">2700</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="applyFilters()">Застосувати</ion-button>
  <ion-button expand="block" fill="clear" (click)="resetFilters()">Скинути фільтри</ion-button>
</ion-content>
