<ion-header>
  <ion-toolbar>
    <ion-title>Фільтри</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="filter-section">
    <h3 class="filter-section-title">Тип терапії</h3>
    <div class="custom-radio-group tip-terapy">
      <label class="custom-radio-item" *ngFor="let type of types" [class.selected]="filters.type === type.id">
        <input type="radio" name="therapy-type" [value]="type.id" [(ngModel)]="filters.type">
        {{ type.text }}
      </label>
    </div>
  </div>

  <div class="filter-section">
    <h3 class="filter-section-title">Напрямки</h3>
    <div class="custom-checkbox-group tip-direction">
      <label class="custom-checkbox-item" *ngFor="let direction of directions" [class.selected]="direction.checked">
        <input type="checkbox" [checked]="direction.checked" (change)="direction.checked = $event.target.checked">
        {{ direction.name }}
      </label>
    </div>
  </div>

  <div class="filter-section">
    <h3 class="filter-section-title">Оберіть формат сесії</h3>
    <div class="custom-radio-group tip-terapy">
      <label class="custom-radio-item" *ngFor="let formatOption of formats" [class.selected]="filters.format === formatOption.id">
        <input type="radio" name="session-format" [value]="formatOption.id" [(ngModel)]="filters.format">
        {{ formatOption.name }}
      </label>
    </div>
  </div>

  <div class="filter-section" *ngIf="filters.format === 'offline'">
    <h3 class="filter-section-title">Оберіть місто</h3>
    <div class="custom-radio-group tip-city">
      <label class="custom-radio-item" *ngFor="let city of cities" [class.selected]="filters.city_id === city.city_id">
        <input type="radio" name="city" [value]="city.city_id" [(ngModel)]="filters.city_id">
        {{ city.name }}
      </label>
    </div>
  </div>

  <div class="filter-section">
    <h3 class="filter-section-title">Оберіть стать психолога</h3>
    <div class="custom-radio-group tip-terapy">
      <label class="custom-radio-item" *ngFor="let genderOption of genders" [class.selected]="filters.gender === genderOption.id">
        <input type="radio" name="gender" [value]="genderOption.id" [(ngModel)]="filters.gender">
        {{ genderOption.name }}
      </label>
    </div>
  </div>

  <div class="filter-section">
    <h3 class="filter-section-title">Оберіть мову спілкування</h3>
    <div class="custom-radio-group tip-terapy">
      <label class="custom-radio-item" *ngFor="let lang of languages" [class.selected]="filters.language === lang.code">
        <input type="radio" name="language" [value]="lang.code" [(ngModel)]="filters.language">
        {{ lang.name }}
      </label>
    </div>
  </div>

  <div class="filter-section">
    <h3 class="filter-section-title">Оберіть прийнятну ціну</h3>
    <div class="custom-range-group">
      <div class="custom-range-labels">
        <span>{{ filters.priceRange.lower }}</span>
        <span>{{ filters.priceRange.upper }} грн.</span>
      </div>
      <div class="range-slider">
        <input #rangeInput type="range" [min]="prices.min_price" [max]="prices.max_price" [value]="filters.priceRange.lower" (input)="filters.priceRange.lower = $any($event.target.value); updateRangeBackground()">
        <input #rangeInput type="range" [min]="prices.min_price" [max]="prices.max_price" [value]="filters.priceRange.upper" (input)="filters.priceRange.upper = $any($event.target.value); updateRangeBackground()">
      </div>
    </div>
  </div>

  <div class="filter-actions">
    <button class="custom-filter-button primary" (click)="applyFilters()">Застосувати</button>
    <button class="custom-filter-button secondary" (click)="resetFilters()">Скинути фільтри</button>
  </div>
</ion-content>
