<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Як користуватись додатком</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="how-it-works-section">
    <h2>Як це працює?</h2>
    <div class="step">
      <p class="step-number">01</p>
      <h3 class="step-title">Пройдіть тест</h3>
      <p class="step-description">Пройдіть короткий, але ефективний тест і ми запропонуємо фахівців, які максимально підходять до вашого запиту</p>
    </div>
    <div class="step">
      <p class="step-number">02</p>
      <h3 class="step-title">Оберіть психолога</h3>
      <p class="step-description">Перегляньте профілі запропонованих психологів та оберіть того, хто вам найбільше сподобався</p>
    </div>
    <div class="step">
      <p class="step-number">03</p>
      <h3 class="step-title">Забронюйте консультацію</h3>
      <p class="step-description">Оберіть зручний для вас час із графіка вільних годин, забронюйте цей час та здійсніть оплату через безпечну платіжну систему.</p>
    </div>
    <div class="step">
      <p class="step-number">04</p>
      <h3 class="step-title">Працюйте з психологом в обраному форматі</h3>
      <p class="step-description">Онлайн-зустрічі проходять за посиланням, які ви будете отримувати в чаті свого особистого профілю. Очні зустрічі проходять у кабінеті психолога.</p>
    </div>
  </div>
</ion-content>
