<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Правова Інформація</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list class="legal-info-menu">
    <ion-item detail (click)="goToSubPage('offer-agreement')">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Договір оферта</ion-label>
    </ion-item>
    <ion-item detail (click)="goToSubPage('privacy-policy')">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Політика конфіденційності</ion-label>
    </ion-item>
    <ion-item detail (click)="goToSubPage('terms-of-service')">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Умови надання послуг</ion-label>
    </ion-item>
    <ion-item detail (click)="goToSubPage('refund-policy')">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Повернення коштів</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
