.psychologists-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 10px;
}

.psychologist-card {
     display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px;
    border-radius: 10px;
        background-color: white;
    cursor: pointer;
    min-width: 180px;
}
.psychologist-avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.psychologist-card.active {
  border: 2px solid #795bda;
    background: #795bda1a;
}
.psychologist-avatar img {
   
    border-radius: 4px;
  
}

.chat-actions {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.active-action {
  --background: var(--ion-color-primary);
  --color: white;
}

.message-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-item {
  display: flex;
  width: 100%;
}

.message-item.my-message {
  justify-content: flex-end;
}

.message-bubble {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  max-width: 80%;
}

.my-message .message-bubble {
  background-color: var(--ion-color-primary);
  color: white;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  display: block;
  text-align: right;
  margin-top: 5px;
}
.psychologist-text {
    font-size: 12px;
}
ion-footer ion-item {
  --background: #f1f1f1;
  border-radius: 20px;
  margin: 5px;
}
