<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-form-container">
    <h1>Вхід в особистий кабінет</h1>
    <p class="subtitle">Увійдіть до свого облікового запису</p>

    <ion-list lines="none">
      <ion-item>
        <ion-input label="Ел. адреса" labelPlacement="floating" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Пароль" labelPlacement="floating" type="password"></ion-input>
        <ion-icon slot="end" name="eye-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <div class="links-container">
      <ion-button fill="clear" class="link-button" (click)="openRegisterModal()">Реєстрація</ion-button>
      <ion-button fill="clear" class="link-button">Не пам'ятаєте свій пароль?</ion-button>
    </div>

    <ion-button expand="block" class="login-button">Увійти</ion-button>
  </div>
</ion-content>
