<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="psychologist-cards-container">
    <div class="psychologist-card">
      <div class="card-header">
        <img src="assets/img/IMG_1743.jpeg" alt="Psychologist" class="psychologist-avatar">
        <div class="header-info">
          <div class="online-offline-status">
            <span class="status-item online">
              <ion-icon src="assets/icon/onlain.svg"></ion-icon>
              Онлайн
            </span>
            <span class="status-item offline">
              <ion-icon src="assets/icon/ochno.svg"></ion-icon>
              Очно
            </span>
          </div>
          <p class="location">Київ</p>
          <h3 class="psychologist-name">Марина Ребрик</h3>
          <p class="verified-specialist">
            <ion-icon src="assets/icon/verified.svg"></ion-icon>
            Перевірений фахівець
          </p>
        </div>
      </div>
      <p class="specialization">Психотерапевт, сімейний та дитячий психолог</p>
      <div class="stats">
        <span class="stat-item">
          <ion-icon src="assets/icon/praktika.svg"></ion-icon>
          9 років практики
        </span>
        <span class="stat-item">
          <ion-icon src="assets/icon/session.svg"></ion-icon>
          5600+ сесій
        </span>
      </div>
      <div class="feedback-and-intro">
        <span class="feedback-item">
          <ion-icon src="assets/icon/otzyv.svg"></ion-icon>
          3 відгуки
        </span>
        <span class="intro-item">
          <ion-icon src="assets/icon/hello.svg"></ion-icon>
          Знайомство 15 хв
        </span>
      </div>
      <div class="pricing-and-profile">
        <div class="pricing">
          <div class="price-item">
            <p style="font-size: 14px; color: #9895a6; font-weight: 400;">Індивідуальна</p>
            <p class="price-value" style="color: #2f264d; font-size: 20px; font-weight: 500;">2700 <span class="currency" style="font-size: 14px; color: #9895a6; font-weight: 400;">грн.</span></p>
          </div>
          <div class="price-item">
            <p style="font-size: 14px; color: #9895a6; font-weight: 400;">Сімейна</p>
            <p class="price-value" style="color: #2f264d; font-size: 20px; font-weight: 500;">3600 <span class="currency" style="font-size: 14px; color: #9895a6; font-weight: 400;">грн.</span></p>
          </div>
        </div>
        <ion-button class="profile-button">В профіль</ion-button>
      </div>
    </div>

    <div class="psychologist-card">
      <div class="card-header">
        <img src="assets/img/IMG_1743.jpeg" alt="Psychologist" class="psychologist-avatar">
        <div class="header-info">
          <div class="online-offline-status">
            <span class="status-item online">
              <ion-icon src="assets/icon/onlain.svg"></ion-icon>
              Онлайн
            </span>
            <span class="status-item offline">
              <ion-icon src="assets/icon/ochno.svg"></ion-icon>
              Очно
            </span>
          </div>
          <p class="location">Київ</p>
          <h3 class="psychologist-name">Марина Ребрик</h3>
          <p class="verified-specialist">
            <ion-icon src="assets/icon/verified.svg"></ion-icon>
            Перевірений фахівець
          </p>
        </div>
      </div>
      <p class="specialization">Психотерапевт, сімейний та дитячий психолог</p>
      <div class="stats">
        <span class="stat-item">
          <ion-icon src="assets/icon/praktika.svg"></ion-icon>
          9 років практики
        </span>
        <span class="stat-item">
          <ion-icon src="assets/icon/session.svg"></ion-icon>
          5600+ сесій
        </span>
      </div>
      <div class="feedback-and-intro">
        <span class="feedback-item">
          <ion-icon src="assets/icon/otzyv.svg"></ion-icon>
          3 відгуки
        </span>
        <span class="intro-item">
          <ion-icon src="assets/icon/hello.svg"></ion-icon>
          Знайомство 15 хв
        </span>
      </div>
      <div class="pricing-and-profile">
        <div class="pricing">
          <div class="price-item">
            <p style="font-size: 14px; color: #9895a6; font-weight: 400;">Індивідуальна</p>
            <p class="price-value" style="color: #2f264d; font-size: 20px; font-weight: 500;">2700 <span class="currency" style="font-size: 14px; color: #9895a6; font-weight: 400;">грн.</span></p>
          </div>
          <div class="price-item">
            <p style="font-size: 14px; color: #9895a6; font-weight: 400;">Сімейна</p>
            <p class="price-value" style="color: #2f264d; font-size: 20px; font-weight: 500;">3600 <span class="currency" style="font-size: 14px; color: #9895a6; font-weight: 400;">грн.</span></p>
          </div>
        </div>
        <ion-button class="profile-button">В профіль</ion-button>
      </div>
    </div>
  </div>
</ion-content>
