<ion-content class="ion-padding">
  <div class="main-content" *ngIf="homepageData">
    <h1 class="main-title">{{ homepageData.section_1.heading }}</h1>
    <p class="description-text">{{ homepageData.section_1.sub_heading }}</p>
    <ion-button expand="block" class="select-psychologist-button">{{ homepageData.section_1.button_test_text }}</ion-button>
    <p class="or-text">{{ homepageData.section_1.text_choise_psyhologist }}</p>
    <div class="doctor-list">
        <div *ngFor="let doctor of homepageData.doctors | slice:0:6" class="doctor-card">
          <img [src]="'https://mysense.care' + doctor.img" alt="{{ doctor.firstname }}">
        </div>
      </div>
    <ion-button expand="block" class="free-psychologists-button">Вільні психологи</ion-button>

    <!-- How It Works Section -->
    <div class="how-it-works-section">
      <h2>Як це працює?</h2>
      <div class="step">
        <p class="step-number">01</p>
        <h3 class="step-title">Пройдіть тест</h3>
        <p class="step-description">Пройдіть короткий, але ефективний тест і ми запропонуємо фахівців, які максимально підходять до вашого запиту</p>
      </div>
      <div class="step">
        <p class="step-number">02</p>
        <h3 class="step-title">Оберіть психолога</h3>
        <p class="step-description">Перегляньте профілі запропонованих психологів та оберіть того, хто вам найбільше сподобався</p>
      </div>
      <div class="step">
        <p class="step-number">03</p>
        <h3 class="step-title">Забронюйте консультацію</h3>
        <p class="step-description">Оберіть зручний для вас час із графіка вільних годин, забронюйте цей час та здійсніть оплату через безпечну платіжну систему.</p>
      </div>
      <div class="step">
        <p class="step-number">04</p>
        <h3 class="step-title">Працюйте з психологом в обраному форматі</h3>
        <p class="step-description">Онлайн-зустрічі проходять за посиланням, які ви будете отримувати в чаті свого особистого профілю. Очні зустрічі проходять у кабінеті психолога.</p>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="free-consultation-banner">
      <span class="free-tag">це безкоштовно ;)</span>
      <h2 class="banner-title">{{ homepageData.section_3.heading_acquaintance }}</h2>
      <p class="banner-description">{{ homepageData.section_3.text_acquaintance }}</p>
      <ion-button expand="block" class="select-psychologist-button">Підібрати психолога</ion-button>
    </div>

    <!-- Section 8 -->
    <div class="section-8">
      <h2>{{ homepageData.section_8.heading }}</h2>
      <p>{{ homepageData.section_8.sub_heading }}</p>
      <div class="cities-list">
        <span *ngFor="let city of homepageData.section_8.cities">{{ city.name }}</span>
      </div>
      <img [src]="homepageData.section_8.img" alt="Map">
    </div>

   

    <!-- Reviews Slider Section -->
    <div class="reviews-slider-section">
       <h2>{{ homepageData.section_9.heading }}</h2>
      <swiper-container class="reviews-swiper" #reviewsSwiper [pagination]="true" slides-per-view="auto" centered-slides="true">
        <swiper-slide *ngFor="let review of homepageData.section_9.reviews">
          <div class="review-slide-content">
            <h3>{{ review.user_name }}</h3>
            <p class="review-text-content" [class.expanded]="review.showFullText">
              {{ review.text }}
            </p>
            <ion-button *ngIf="review.text.length > TRUNCATE_LENGTH" fill="clear" size="small" (click)="toggleText(review)">
              {{ review.showFullText ? 'Згорнути' : 'Більше' }}
            </ion-button>
            <p class="review-date">{{ review.date }}</p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Section 10 - Accordion for Questions and Answers -->
    <div class="section-10">
      <h2>{{ homepageData.section_10.heading }}</h2>
      <ion-accordion-group>
        <ion-accordion *ngFor="let item of homepageData.section_10.items" value="{{ item.heading }}">
          <ion-item slot="header" color="light">
            <ion-label>{{ item.heading }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div [innerHTML]="item.content"></div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ion-button expand="block">{{ homepageData.section_10.text_button }}</ion-button>
    </div>

    <!-- Section 11 -->
    <div class="section-11">
      <h2>{{ homepageData.section_11.heading }}</h2>
      <swiper-container class="articles-swiper" #articlesSwiper>
        <swiper-slide *ngFor="let article of homepageData.section_11.articles">
          <div class="article-card">
            <h3>{{ article.title }}</h3>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

  </div>
</ion-content>
