ion-content {
  --background: white;
  --padding-top: 30px;
  
}
.progress-bars {
  max-width: 300px;
  margin: 0 auto;
}
.test-container {
    max-width: 300px;
    margin: 0 auto;
}
.test-heading-h2 {
    font-size: 21px;
    
}
p.intro-p-left {
    text-align: left;
    color: #1c1c1c;
    margin-bottom: 0;
}
/* Styles for the initial 'type' and 'info' screens' pagination */
.progress-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.test-heading {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 25px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.dot.active {
  background-color: var(--ion-color-primary);
}

/* Styles for the 'step' screen's pagination (rectangular bars) */
.progress-bars {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 20px; /* Add horizontal padding */
  gap: 5px; /* Space between bars */
}

.bar {
  flex-grow: 1;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ffffff;
    border-radius: 30px;
    font-size: 14px;
    color: #423f4d;
    font-weight: 400%;
    width: 18px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e3e1e5;
    position: relative;
    margin: 0 1px;
}

.bar.active {
  background: rgba(67, 165, 250, 1);
    color: #fff;
    border: none;
}

.selection-card {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: none;
  background-color: var(--ion-color-white);
  cursor: pointer;
}

.selection-card:nth-child(1) {
  background-color: #f0f3ff;
}

.selection-card:nth-child(2) {
  background-color: #eeffe8;
}

.selection-card:nth-child(3) {
  background-color: #fff5e3;
}

.selection-card.selected {
  background: #a498d9;
  color: #fff;
}

.selection-card.selected .card-text {
  color: #fff;
}

.selection-card.selected .card-image {
  filter: brightness(0) invert(1);
}

.selection-card.selected .card-icon {
  color: #fff;
}

.card-content-wrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    padding: 0 20px;
  
}

.card-text {
  font-size: 20px;
  font-weight: 500;
  color: var(--ion-color-dark);
}

.card-image {
      padding-top: 11px;
  object-fit: contain;
}
.card-content-wrapper.individual {
    background: #f0f3ff;
}
.card-content-wrapper.family {
    background: #eeffe8;
}
.card-content-wrapper.child {
    background: #fff5e3;
}
.card-icon {
  font-size: 2em;
  color: var(--ion-color-primary);
}

.intro-image {
  width: 130px;
  height: 130px;
  object-fit: contain;
}
.privacy-guarantee svg {
    width: 90px;
    height: 30px;
    padding-right: 6px;
}
.intro-p {
    font-size: 17px;
    color: rgba(47, 38, 77, 1);
}
.privacy-guarantee {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

.privacy-guarantee ion-icon {
  font-size: 1.5em;
  margin-right: 10px;
  color: var(--ion-color-success);
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px; /* Space between buttons */
  padding: 0px; /* Add padding to the button group */
      margin-top: 46px;
}



.radio-group, .checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between custom items */
}

.custom-item {
  display: flex;
  align-items: center;
  background-color: #f1edff; /* Default background color for options */
  border-radius: 10px;
  box-shadow: none; /* Remove box-shadow */
  padding: 16px 20px; /* Adjust padding */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.custom-label {
  flex-grow: 1;
  font-size: 17px;
  font-weight: 500;
  color: var(--ion-color-dark);
  text-align: left;
}

.custom-item.selected {
  background-color: #a498d9; /* Darker background for selected item */
  color: #fff; /* White text for selected item */
}

.custom-item.selected .custom-label {
  color: #fff; /* White text for label in selected item */
}

.custom-item ion-icon {
  font-size: 24px; /* Icon size */
  margin-right: 15px; /* Space between icon and label */
  color: var(--ion-color-primary); /* Default icon color */
}

.custom-item.selected ion-icon {
  color: #fff; /* White icon for selected item */
}

.custom-item svg .fl-icon {
  fill: var(--ion-color-primary); /* Default fill color for SVG icon */
}

.custom-item.selected svg .fl-icon {
  fill: #fff; /* White fill for SVG icon in selected item */
}

.custom-range-item {
  padding: 10px 0;
}

.custom-range-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: var(--ion-color-dark);
}

.custom-range-input {
  width: 100%;
  -webkit-appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.custom-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  cursor: pointer;
}

.custom-range-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  cursor: pointer;
}

.custom-text-input input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  color: var(--ion-color-dark);
  background-color: var(--ion-color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.custom-select select {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  color: var(--ion-color-dark);
  background-color: var(--ion-color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none; /* Remove default arrow */
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%20viewBox%3D%220%200%20292.4%20292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2C197.9L159.3%2C69.2c-3.7-3.7-9.7-3.7-13.4%2C0L5.4%2C197.9c-3.7%2C3.7-3.7%2C9.7%2C0%2C13.4l13.4%2C13.4c3.7%2C3.7%2C9.7%2C3.7%2C13.4%2C0l110.7-110.7l110.7%2C110.7c3.7%2C3.7%2C9.7%2C3.7%2C13.4%2C0l13.4-13.4C290.7%2C207.6%2C290.7%2C201.6%2C287%2C197.9z%22%2F%3E%3C%2Fsvg%3E'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
  box-sizing: border-box;
}

/* Style for the header h1 in step view */
.ion-text-center.ion-padding-top h1 {
  font-size: 24px; /* Adjust as needed */
  font-weight: 400;
  color: var(--ion-color-dark);
  margin-bottom: 10px;
}

/* Style for the subheader p in step view */
.ion-text-center.ion-padding-top p {
  font-size: 16px; /* Adjust as needed */
  color: var(--ion-color-medium);
  margin-bottom: 20px;
}

.back-button {
  background: none;
  --background-activated: #e0d9f5;
  --background-focused: #e0d9f5;
  --background-hover: #e0d9f5;
  --color: var(--ion-color-primary);
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border:1.5px solid #795bda;
  --border-width: 1.5px;
  --box-shadow: none;
  flex-shrink: 0; /* Prevent button from shrinking */
}

.next-button {
  --background: #795bda;
  --background-activated: #6a4ecb;
  --background-focused: #6a4ecb;
  --background-hover: #6a4ecb;
  --color: #fff;
  flex-grow: 1; /* Allow button to grow and fill space */
  height: 48px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
}

ion-button {
  --border-radius: 10px;
  --box-shadow: none;
  text-transform: none;
  font-weight: bold;
}

ion-button[fill="clear"] {
  --color: var(--ion-color-medium);
}

ion-radio-group {
  padding: 10px 0;
}

ion-item {
  --background: var(--ion-color-white);
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ion-radio {
  --color-checked: var(--ion-color-primary);
}

ion-checkbox {
  --checkbox-background-checked: var(--ion-color-primary);
}

.psychologist-cards-container {
  padding: 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ion-toolbar {
    --background: var(--ion-color-mysense-light-purple);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
ion-searchbar ion-icon {
    top: 7px !important;
    width: 1.3125rem;
    height: 1.3125rem;
}
input.searchbar-input.sc-ion-searchbar-md {
    height: 34px;
    background: white;
        border-radius: 8px;
}
ion-button.filter-btn {
    font-size: 14px;
    background: #ffffff;
    border-radius: 8px;
    text-transform: capitalize;
}
.filter-btn ion-icon {
    --font-size: 2px;
   
}

.psychologist-card {
  background-color: #fff;
  border-radius: 16px;
  
  padding: 20px;
 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-header {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.psychologist-avatar {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
}

.header-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.online-offline-status {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.status-item {
  font-size: 15px;
  font-weight: 400;
  color: #423f4d;
  padding: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  gap: 5px; /* Space between icon and text */
}

.online {
  /* color: #00bcd4; */ /* Cyan */
}

.offline {
  /* color: #9c27b0; */ /* Purple */
}

.location {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
  margin-top: 5px;
}

.psychologist-name {
  color: #423f4d;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 5px;
}

.verified-specialist {
  font-size: 14px;
  font-weight: 400;
  color: #9895a6;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 0;
}

.specialization {
  font-size: 15px;
  color: #423f4d;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.stats {
  display: flex;
  gap: 20px;
  font-size: 15px;
  color: #423f4d;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 5px;
}


.feedback-and-intro {
  display: flex;
  gap: 20px;
  font-size: 15px;
  color: #423f4d;
}

.feedback-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.feedback-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.intro-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #9895a6;
}

.pricing-and-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pricing {
  display: flex;
  gap: 20px;
}

.price-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-item p {
  margin: 0;
  font-size: 14px;
  color: #9895a6;
  font-weight: 400;
}

.price-value {
  color: #2f264d;
  font-size: 20px;
  font-weight: 500;
}

.currency {
  font-size: 14px;
  font-weight: 400;
  color: #9895a6;
}

.profile-button {
  --background: #795bda;
  --background-activated: #795bda;
  --background-focused: #795bda;
  --background-hover: #795bda;
  --color: #fff;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
  text-transform: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  --box-shadow: none;
}

ion-toolbar ion-buttons ion-button ion-icon {
  font-size: 18px;
    color: var(--ion-color-primary);
    margin-right: 5px;
}

ion-searchbar {
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;
  --border-radius: 10px;
  --background: #f0f0f0;
  padding: 0 0 0 10px;
}

ion-searchbar::part(search-icon) {
  color: var(--ion-color-primary);
  order: 2;
  padding-left: 10px;
}

:host ::ng-deep .searchbar-input.sc-ion-searchbar-md {
  padding-inline-end: 5px !important;
  background: white;
    height: 34px;
}

.sort-select {
  --padding-start: 10px;
  --padding-end: 10px;
  --placeholder-opacity: 0;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23795bda' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-up-down'%3E%3Cpath d='m21 16-4 4-4-4'%3E%3C/path%3E%3Cpath d='M17 20V4'%3E%3C/path%3E%3Cpath d='m3 8 4-4 4 4'%3E%3C/path%3E%3Cpath d='M7 4v16'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.sort-select::part(icon) {
  display: none;
}
ion-searchbar.searchbar-input.sc-ion-searchbar-md {
    -webkit-padding-end: 0 !important;
    padding-inline-end: 0 !important;
}
