<ion-list>
  <ion-item button (click)="dismiss()" class="popover-header">
    <ion-icon name="help-buoy-outline" slot="start"></ion-icon>
    Служба підтримки
    <ion-icon name="open-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item button (click)="dismiss()" class="popover-header">
    <ion-icon name="help-circle-outline" slot="start"></ion-icon>
    Питання/Відповіді
    <ion-icon name="chevron-forward-circle-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-item button (click)="dismiss()" class="popover-header">
    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
    Як користуватись додатком
    <ion-icon name="chevron-forward-circle-outline" slot="end"></ion-icon>
  </ion-item>
</ion-list>
