<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/legal-info"></ion-back-button>
    </ion-buttons>
    <ion-title>Повернення коштів</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Повернення коштів</h2>
  <p>Це є текст політики повернення коштів. Тут буде розміщено повний текст умов та положень, які регулюють повернення коштів за надані послуги.</p>
  <p>Будь ласка, уважно ознайомтеся з усіма пунктами.</p>
  <!-- More content here -->
</ion-content>
