<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/legal-info" icon="assets/icon/arrow-left-color.svg" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Договір оферта</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Договір оферта</h2>
  <p>Це є текст договору оферти. Тут буде розміщено повний текст умов та положень, які регулюють надання послуг.</p>
  <p>Будь ласка, уважно ознайомтеся з усіма пунктами перед тим, як користуватися нашими послугами.</p>
  <!-- More content here -->
</ion-content>
