<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <img src="assets/icon/arrow-left-color.svg" alt="Назад" class="header-back-icon">
      </ion-button>
    </ion-buttons>
    <ion-title>Записи у щоденнику</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Архів
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar-container">
    <div class="calendar-header">
      <ion-button fill="clear" (click)="previousMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <h2>{{ currentMonth }} {{ currentYear }}</h2>
      <ion-button fill="clear" (click)="nextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
    <div class="date-scroller" #dateScroller>
      <div *ngFor="let date of dates"
           class="date-item"
           [class.selected]="isSelected(date)"
           [class.has-entry]="hasEntry(date)"
           [class.disabled]="isFuture(date)"
           (click)="!isFuture(date) && selectDate(date)">
        <div class="day-number">{{ date?.getDate() }}</div>
        <div class="day-name">{{ getDayName(date) }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="diaryEntry; else noEntry">
    <div class="entry-content">
      <div class="moods-row">
        <span class="emotion-chip" *ngIf="displayMood()">
          <img *ngIf="displayMoodIcon(); else moodFallback" [src]="displayMoodIcon()" alt="">
          <ng-template #moodFallback>🙂</ng-template>
          <span>{{ displayMood() }}</span>
        </span>
        <span class="emotion-chip" *ngIf="displayBody()">
          <img *ngIf="displayBodyIcon(); else bodyFallback" [src]="displayBodyIcon()" alt="">
          <ng-template #bodyFallback>🙂</ng-template>
          <span>{{ displayBody() }}</span>
        </span>
      </div>
      <p class="entry-text">{{ diaryEntry.text }}</p>
      <h3>Запитання від нашого психотерапевта</h3>
      <div *ngFor="let answer of diaryEntry.answers" class="question-answer">
        <h4>{{ displayQuestionTitle(answer) }}</h4>
        <p class="answer-text">{{ answer.answer }}</p>
      </div>
      <ion-button class="edit-entry-btn" expand="block" routerLink="/tabs/diary-entry" [queryParams]="{date: selectedDate}">
        Редагувати запис
      </ion-button>
    </div>
  </div>

  <ng-template #noEntry>
    <div class="no-entry-container">
      <img src="assets/img/problem03.png" alt="No entry">
      <h3>Ви ще не заповнили свій щоденник сьогодні.</h3>
      <ion-button expand="block" routerLink="/tabs/diary-entry" [queryParams]="{date: selectedDate}">+ Написати в щоденник</ion-button>
    </div>
  </ng-template>
</ion-content>
