<ion-header>
  <ion-toolbar>
    <ion-title>Особистий кабінет</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container" style="margin-top: 20px;">
    <ion-card class="login-card">
      <ion-card-content>
        <p class="login-text">Увійдіть або зареєструйтеся, щоб не втратити дані особистого кабінету, а також мати можливість доступу з іншого пристрою.</p>
      </ion-card-content>
    </ion-card>

    <div class="login-buttons">
      <ion-button expand="block" class="login-button">
        <ion-icon slot="start" src="assets/icon/sing-in.svg"></ion-icon>
        Вхід
      </ion-button>
      <ion-button expand="block" fill="outline" class="register-button">Зареєструватися</ion-button>
    </div>

    <ion-list class="page-list">
      <ion-item routerLink="/how-to-save">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Як економити?</ion-label>
      </ion-item>
      <ion-item routerLink="/my-bookings">
        <ion-icon name="bookmark-outline" slot="start"></ion-icon>
        <ion-label>Мої броні</ion-label>
      </ion-item>
      <ion-item routerLink="/my-products">
        <ion-icon name="cube-outline" slot="start"></ion-icon>
        <ion-label>Мої товари</ion-label>
      </ion-item>
      <ion-item routerLink="/my-pharmacies">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>Мої аптеки</ion-label>
      </ion-item>
      <ion-item routerLink="/booked-products">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Товари з бронювань</ion-label>
      </ion-item>
      <ion-item routerLink="/settings">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Налаштування</ion-label>
      </ion-item>
      <ion-item routerLink="/medication-intake">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Прийом ліків</ion-label>
      </ion-item>
      <ion-item routerLink="/feedback">
        <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Зворотній зв'язок</ion-label>
      </ion-item>
      <ion-item routerLink="/legal-info">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label>Правова інформація</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
