<ion-header>
  <ion-toolbar>
    <ion-title>Особистий кабінет</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container" >
    <ion-card class="login-card">
      <ion-card-content>
        <p class="login-text">Увійдіть або зареєструйтеся, щоб не втратити дані особистого кабінету, а також мати можливість доступу з іншого пристрою.</p>
      </ion-card-content>
    </ion-card>

    <div class="login-buttons">
      <ion-button expand="block" class="login-button" (click)="openLoginModal()">
        <ion-icon slot="start" src="assets/icon/sing-in.svg"></ion-icon>
        Вхід
      </ion-button>
      <ion-button expand="block" class="login-button" (click)="openRegisterModal()">Реєстрація</ion-button>
    </div>

    <ion-list class="profile-menu-group">
      <ion-item detail routerLink="/profile-details">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Мій профіль</ion-label>
      </ion-item>
      <ion-item detail routerLink="/my-sessions">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Мої сесії</ion-label>
      </ion-item>
      <ion-item detail routerLink="/book-session">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label>Забронювати сесію</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="profile-menu-group">
      <ion-item detail routerLink="/my-diary">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Мій щоденник</ion-label>
      </ion-item>
      <ion-item detail routerLink="/my-library">
        <ion-icon slot="start" name="library-outline"></ion-icon>
        <ion-label>Моя бібліотека</ion-label>
      </ion-item>
      <ion-item detail routerLink="/how-to-use">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label>Як користуватись додатком</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="profile-menu-group">
      <ion-item detail routerLink="/notifications">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>Сповіщення</ion-label>
      </ion-item>
      <ion-item detail routerLink="/support">
        <ion-icon slot="start" name="headset-outline"></ion-icon>
        <ion-label>Служба підтримки</ion-label>
      </ion-item>
      <ion-item detail routerLink="/legal-info">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label>Правова Інформація</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="profile-menu-group">
      <ion-item button detail="false" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Вийти</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
